    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Disabled State</h5>
        <app-custom-button type="primary" [disabled]="true">
          Disabled Primary
        </app-custom-button>
        <app-custom-button type="secondary" [disabled]="true">
          Disabled secondary
        </app-custom-button>
        <app-custom-button type="primary" [outline]="true" [disabled]="true">
          Disabled Outline Primary
        </app-custom-button>
        <app-custom-button type="secondary" [outline]="true" [disabled]="true">
          Disabled Outline secondary
        </app-custom-button>
      </div>
    </div>